html { font-family: sans-serif; background: #0f5672; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white;  padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; padding: 10px; border-radius: 8px;}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-family: sans-serif; color:#377ba8; font-weight: bold; font-size:1.2em; margin-bottom: 0.5em; }
.content input, .content textarea { width: 10%;
    padding: 10px ;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    display:flex;
}
    input:focus {
        outline: none;
        border-bottom-color: #213f75;
      }
.content textarea { min-height: 12em; resize: vertical; }

input.danger { color: #cc2f2e; }
input[type=submit] { align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  border:2px solid#ccc;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: -3em;
  will-change: box-shadow,transform;
  font-size: 12px;}
input[type=submit]:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
input[type=submit]:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  }
input[type=submit]:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.center {display: block; margin-left: auto; margin-right: auto; width: 20%;}
.form-row {
    display: flex;
    align-items: center;
  }
.form-row input {
margin-right: 5em;
flex: 2;
}
.form-row input[type=submit] {
  flex: initial;
}
